.container {
  overflow: hidden;
  position: relative;
  padding-bottom: 200px;
}

.topLeftOverlay {
  background-image: url('/img/top-left-overlay.svg');
  background-size: cover;
  position: absolute;
  width: 1800px;
  height: 1800px;
  left: -1390px;
  top: -400px;
}

.topRightOverlay {
  background-image: url('/img/top-right-overlay.svg');
  background-size: cover;
  position: absolute;
  width: 2498px;
  height: 2489px;
  right: -1760px;
  top: -453px;
}

@media screen and (max-width: 966px) {
  .topLeftOverlay,
  .topRightOverlay {
    display: none;
  }
}

.bottomLeftOverlay {
  background-image: url('/img/bottom-left-overlay.svg');
  background-size: cover;
  position: absolute;
  width: 824px;
  height: 822px;
  left: -550px;
  bottom: -350px;
}

.bottomRightOverlay {
  background-image: url('/img/bottom-right-overlay.svg');
  background-size: cover;
  position: absolute;
  width: 724px;
  height: 722px;
  right: -450px;
  bottom: -300px;
}

@media screen and (max-width: 966px) {
  .bottomLeftOverlay,
  .bottomRightOverlay {
    display: none;
  }
}

.homePageFeatures {
  position: relative;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.title {
  max-width: 790px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.8rem;
  }
}

.subtitle {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 1.2rem;
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshot {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.screenshot img {
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: 0 16px 48px 0 rgb(0 0 0 / 10%);
}

html[data-theme='dark'] .screenshot img {
  border: 1px solid white;
}
