.link {
  padding: 1rem 2.4rem;
  text-decoration: none !important;
  border: 2px solid #000;
  font-weight: 500;
  transition: all 0.1s;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .link {
    padding: 1rem 2rem;
  }
}

.linkBlack {
  background-color: #000;
  color: #fff;
  border-radius: 40px 40px 0px 40px;
}

.linkBlack:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.linkWhite {
  background-color: #fff;
  color: #000;
  border-radius: 40px 40px 40px 0px;
}

.linkWhite:hover {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}

.link:hover {
  opacity: 0.9;
}
