.footer {
  border-top: 1px solid var(--border);
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer a {
  margin-left: 6px;
  color: var(--textSecondary);
}

.footer svg {
  vertical-align: text-top;
}

html[data-theme='dark'] .footer {
  border-top: 1px solid var(--ifm-color-gray-800);
}

html[data-theme='dark'] .footer a {
  color: var(--textSecondary-darkmd);
}
