/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0084ff;
  --ifm-color-primary-dark: #006be6;
  --ifm-color-primary-darker: #0051cc;
  --ifm-color-primary-darkest: #0038b3;
  --ifm-color-primary-light: #1a9eff;
  --ifm-color-primary-lighter: #33b7ff;
  --ifm-color-primary-lightest: #4dd1ff;
  --ifm-code-font-size: 95%;

  --primary: #0084ff;
  --secondary: #f50057;
  --success: #00a699;
  --warning: #ffb818;
  --info: #4169e1;
  --error: #f44335;

  --background-light: #242526;
  --background-dark: #18191a;

  --text: #083834;
  --textSecondary: #586766;

  --text-darkmd: #fff;
  --textSecondary-darkmd: #bdbdbd;

  --border-light: #f5f5f5;
  --border: #e0e0e0;
  --border-dark: #bdbdbd;

  --ifm-font-family-base: 'Maven Pro', sans-serif;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.heading {
  color: var(--text);
}

.text {
  color: var(--textSecondary);
}

html[data-theme='dark'] .heading {
  color: var(--text-darkmd);
}

html[data-theme='dark'] .text {
  color: var(--textSecondary-darkmd);
}

.footer-link {
  color: var(--text);
}

html[data-theme='dark'] .footer-link {
  color: #fff;
}
